/* Hanterar Sektionen Om mig */

.aboutMe {
  display: flex;
  padding: 4rem;
  flex-flow: wrap row;
  background: $background-color;

  img {
    width: 300px;
  }

  .wrapper {
    color: $secondary-textcolor;
    width: 800px;
    margin-top: 2rem;
    padding-left: 10rem;
    .about-p {
      padding-top: 2rem;
    }
  }
}
/* Hanterar media queries*/

@media screen and (max-width: 768px) {
  .aboutMe {
    padding: 1rem;
    flex-direction: column;
    margin: 0;

    .wrapper {
      padding: 0;
      width: 350px;
      align-self: center;
    }
    img {
      width: 350px;
    }
  }
}
