.aboutMe {
  display: flex;
  padding: 4rem;
  height: 100vh;
  flex-flow: wrap column;
  background: $background-color;
  
  .about-H2 {
    display: flex;
    justify-content: center;
    width: 60%;
    color: $secondary-textcolor
  }
  .about-p {
    display: flex;
    padding: 2rem;
    width: 60%;
    color: $secondary-textcolor
  }
}
