* {
  box-sizing: border-box;
  padding: 0;
}

@import "./variables";
@import "./mixin";
@import "./header";
@import "./projects";

body {
  font-family: sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

a {
  
  text-decoration: none;
}




.landingPage {
  height: 100vh;
  padding: 4rem;
  background: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .lp-heading {
    font-size: 5rem;
    margin-top: 20vh;
    color: $primary-textcolor;
  }
  .lp-text {
    margin-bottom: 2rem;
    color: $secondary-textcolor;
  }

  a {
    padding: 0.6rem;
    &:hover {
      color: $secondary-textcolor;
      @include easeOut();
    }
  }
}


@media screen and (max-width: 768px) {
}
