* {
  box-sizing: border-box;
  padding: 0;
}

@import "./variables";
@import "./mixin";
@import "./header";
@import "./projects";
@import "./about";
@import "./nackademin";
@import "./contact";

body {
  font-family: sans-serif;
}
.main {
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: $primary-textcolor;
}

p {
  font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    margin: 0 0 20px;
}




.landingPage {
  height: 100vh;
  padding: 4rem;
  background: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .lp-heading {
    font-size: 5rem;
    margin-top: 20vh;
    color: $primary-textcolor;
  }
  .lp-text {
    margin-bottom: 2rem;
    color: $secondary-textcolor;
  }

  a {
    padding: 0.6rem;
    &:hover {
      color: $secondary-textcolor;
      @include easeOut();
    }
    a i {
      background: crimson;
    }
  }
}


@media screen and (max-width: 768px) {
}
